body{

margin:0;

font-family:Arial;

background:#f4f6f9;

}

header{

background:#1b365d;

color:white;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

}

.hero{

text-align:center;

margin-top:120px;

}

button{

padding:12px 25px;

background:#1b365d;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

}
.login{

width:350px;

margin:100px auto;

background:white;

padding:30px;

box-shadow:0 0 10px gray;

text-align:center;

}

input{

width:90%;

padding:10px;

margin:10px;

}
